/* --------------------------------------------------------------------------
   SETTINGS - Typography
   ------------------------------------------------------------------------- */

/* Family */

$font-family-primary: 'Arial', sans-serif;

/* Size */

$font-size-default: 1.6rem;

$font-size-h1: 4.8rem;
$font-size-h2: 4rem;
$font-size-h3: 3.2rem;
$font-size-h4: 2.4rem;
$font-size-h5: 1.6rem;
$font-size-h6: 0.8rem;

/* Baseline */

$font-baseline: 1.5em;

/* Weight */

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-weight-default: $font-weight-regular;