/* --------------------------------------------------------------------------
   OBJECTS - Wrapper
   ------------------------------------------------------------------------- */

/**
 * The wrapper mixin defines the max width of a content wrapper and
 * auto centers it.
 */

@mixin wrapper($width: $wrapper, $gutter: $gutter) {
  max-width: ($width + $gutter);

  padding: 0 ($gutter / 2);

  margin-left: auto;
  margin-right: auto;
}

/**
 * The wrapper objects utilizes the default wrapper mixin without any
 * arguments.
 */

.o-wrapper {
  @include wrapper();
}

.o-wrapper--small {
  @include wrapper(37.5);
}